<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body {
            background: rgb(107, 11, 107);
        }
    </style>
</head>
<body>
    <p>NOTIFICATION PAGE</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit, exercitationem ullam. Illo, inventore porro ad vitae culpa, ipsum incidunt minima et accusamus impedit facere nam hic magni quidem quod architecto.</p>
</body>
</html>